			<div class="mx-auto max-w-(--breakpoint-sm) text-sm text-left text-gray-500 dark:text-gray-300 bottom-0 absolute my-6">
				Powered by <a href="https://github.com/dzervas/magicentry" class="font-medium text-primary-600 dark:text-primary-500 hover:underline">MagicEntry</a>.
			</div>
		</div>
	</section>
</body>
</html>
