<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ path_prefix }}/static/main.css" />
</head>
<body>
	<section class="h-full bg-white dark:bg-gray-900">
		<div class="flex flex-col h-screen justify-center items-center">
