---
// https://flowbite.com/blocks/marketing/feature/#default-feature-list
import { type Icon as IconType } from '@lucide/astro';

interface Feature {
	icon: typeof IconType;
	title: string;
	text: string;
}

interface Props {
	header?: string;
	text?: string;

	features: Feature[];
}

const props = Astro.props;
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      {props.header ? <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{props.header}</h2> : null}
      {props.text ? <p class="text-gray-500 sm:text-xl dark:text-gray-400">{props.text}</p> : null}
    </div>
    <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
      {props.features.map(feat => (
        <div>
          <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
            <span class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300">
              <feat.icon />
            </span>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">{feat.title}</h3>
          <p class="text-gray-500 dark:text-gray-400">{feat.text}</p>
        </div>
      ))}
    </div>
  </div>
</section>
