@import "tailwindcss";

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme {
	/* Amber theme in flowbite */
	--color-primary-50: #fffbeb;
	--color-primary-100: #fef3c7;
	--color-primary-200: #fde68a;
	--color-primary-300: #fcd34d;
	--color-primary-400: #fbbf24;
	--color-primary-500: #f59e0b;
	--color-primary-600: #d97706;
	--color-primary-700: #b45309;
	--color-primary-800: #92400e;
	--color-primary-900: #78350f;
	--color-primary-950: #451a03;
}
