---

name: Test
on:
  push:
    branches:
      - main
    paths:
      - .cargo/**
      - Cargo.toml
      - src/**
      - .github/workflows/test.yaml
  pull_request:
    branches:
      - main
    paths:
      - .cargo/**
      - Cargo.*
      - src/**
      - .github/workflows/test.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        id: rust
        uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ${{ steps.rust.outputs.cachekey }}

      - name: Test
        run: cargo test --release
