---
name: Test
permissions:
  contents: read
on:
  push:
    branches:
      - main
    paths:
      - .cargo/**
      - Cargo.toml
      - src/**
      - .github/workflows/test.yaml
  pull_request:
    branches:
      - main
    paths:
      - .cargo/**
      - Cargo.*
      - src/**
      - .github/workflows/test.yaml
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: devenv
      - run: nix profile install nixpkgs#devenv

      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: "true"
          cache-on-failure: "true"
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: Test
        run: devenv shell bash -- -c "cargo sqlx db create && cargo sqlx migrate run && cargo test"
